<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= content_for?(:page_title) ? (yield :page_title) : 'Paste your music here!' %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller], :media => "all" %>
  <%= yield :css if content_for? :css %>  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= yield :js if content_for? :js %>

  <%= csrf_meta_tags %>
</head>
<body>

<% if content_for? :body -%>
	<%= yield :body %>
<% else -%>
	<header id="header">
		<h1><a href="/">Paste your music here!</a></h1>
	</header>
	<div id="main">
	<%= yield :main %>
  </div>
<% end -%>

</body>
</html>
